<h1>Account Details Page</h1>

<p>
  First Name: <%= current_user.first_name %>
</p>
<p>
  Last Name: <%= current_user.last_name %>
</p>
<p>
  Email: <%= current_user.email %>
</p>
<p>
  <%= link_to "Order History", user_orders_path(current_user) %>
  </p>
