<h1>Order history for: <%= current_user.email %></h1>
<% current_user.orders.each do |order| %>
    <p>
    <%= link_to "Order Number: #{order.id}", user_order_path(current_user.id, order.id) %>
    </p>
<% end %>
